.header {
  &__top-bar {
    background-color: $atl-blue;
    height: 46px;
    width: 100%;
  }
  &__page-header {
    height: 200px;

    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
    }
  }
}
