.session-nav {

  &__link {
    background-color: $atl-grey;
    border: 1px solid #ddd !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
  }

  &.active {
    .session-nav__link { background-color: white; }
  }

  &__item:first-child .session-nav__link {
    border-radius: 4px 0 0 0 !important;
  }
  &__item:last-child .session-nav__link {
    border-radius: 0 4px 0 0 !important;
  }
}
