aside.aside {
  padding-left: 0;

  .session-aside {
    &__item {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-top: 1px solid #ddd;

      &:last-child { border-bottom: 1px solid #ddd }
      &.active { background-color: $atl-grey }
    }
  }
}
