* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}
html {
  font-size:62.5%;
}
body {
  font:300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  background:#fff;
  color:#444;
}

h1,h2,h3,h4,h5,h5 {
  color: $atl-blue !important;
}
